[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
django-simpleui = "*"
psycopg2-binary = "*"
channels = "*"
channels-redis = "*"
docutils = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.6"
